<div class="container-fluid">
  <h2>My Todo's</h2>
  <hr>

  <div class="row todo-input">
    <form (ngSubmit)="add_todo()" ngNativeValidate>
      <div class="col-xs-8">
        <input type="text" placeholder="할일" class="form-control" [(ngModel)]="todo" name="todo" required>
      </div>
      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn_add">추가</button>
      </div>
    </form>
  </div>

  <table class="table table-strip">
    <thead>
    <tr>
      <th>완료</th>
      <th>todo</th>
      <th>생성일</th>
      <th>수정일</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of todoList; let i = index" [@flyInOut] = "'in'">
      <td>
        <input type="checkbox" (change)="update(item)">
      </td>
      <!--<td [ngStyle]="{'text-decoration': item.isFinished?'line-through':'none'}">{{item.todo}}</td>-->
      <td [class.todo_canceled]="item.isFinished">{{item.todo}}</td>
      <td>{{item.created | myDate}}</td>
      <td>{{item.updated | myDate}}</td>
      <td>
        <button type="button" class="btn btn-danger" (click)="delete(i)">삭제</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
