<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="login-form" fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-sm="35%">
    <mat-card-header>
      <mat-card-title>
        로그인
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field class="mat-block">
        <input mdInput [(ngModel)]="member.email" name="email" placeholder="이메일">
        <mat-icon mdSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field class="mat-block">
        <input mdInput [(ngModel)]="member.pw" name="pw" type="password" placeholder="패스워드">
        <mat-icon mdSuffix>security</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mat-block" (click)="loginWithPassword()">
        <mat-icon>input</mat-icon>Login with Email
      </button>

      <button mat-raised-button color="accent" class="mat-block facebook-button" (click)="loginWithFacebook()">
        Login with Facebook
      </button>
      <button mat-raised-button color="accent" class="mat-block google-button" (click)="loginWithGoogle()">
        Login with Google
      </button>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="gotoRegister()">
        회원가입
      </button>
    </mat-card-actions>
  </mat-card>
</div>
