<div fxLayout="row" fxLayoutAlign="center center">
  <md-card class="login-form" fxFlex.xs="100" fxFlex.gt-xs="50" fxFlex.gt-sm="35%">
    <md-card-header>
      <md-card-title>
        회원가입
      </md-card-title>
    </md-card-header>

    <md-card-content>
      <md-form-field class="md-block">
        <input mdInput [(ngModel)]="member.email" name="email" placeholder="이메일">
        <md-icon mdSuffix>email</md-icon>
      </md-form-field>
      <md-form-field class="md-block">
        <input mdInput [(ngModel)]="member.pw" name="pw" type="password" placeholder="패스워드">
        <md-icon mdSuffix>security</md-icon>
      </md-form-field>
      <button md-raised-button color="primary" class="md-block" (click)="signupWithPassword()">
        <md-icon>input</md-icon>회원가입
      </button>

    </md-card-content>
  </md-card>
</div>
