<div class="container-fluid">
  <h2>My Todo's</h2>
  <hr>

  <div class="row todo-input">
    <div class="col-xs-8">
      <input type="text" placeholder="할일" class="form-control" [(ngModel)]="newTodo.todo">
    </div>
    <div class="col-xs-4">
      <button type="button" class="btn btn-primary btn-block" (click)="add_todo()">추가</button>
    </div>
  </div>

  <table class="table table-strip">
    <thead>
    <tr>
      <th>완료</th>
      <th>todo</th>
      <th>생성일</th>
      <th>수정일</th>
      <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-item [ngForOf]="todoList">
      <tr *ngIf="!item.isEdited">
        <td>
          {{item.isFinished ? '완료' : '미완료'}}
        </td>
        <td [ngStyle]="{'text-decoration': item.isFinished?'line-through':'none'}">{{item.todo}}</td>
        <td>{{item.created}}</td>
        <td>{{item.updated}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="save(item)">수정</button>
          <button type="button" class="btn btn-danger" (click)="delete(item)">삭제</button>
        </td>
      </tr>
      <tr *ngIf="item.isEdited">
        <td>
          <input type="checkbox" [(ngModel)]="item.isFinished">
        </td>
        <td [ngStyle]="{'text-decoration': item.isFinished?'line-through':'none'}">
          <input [(ngModel)]="item.todo">
        </td>
        <td>{{item.created}}</td>
        <td>{{item.updated}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="update(item)">저장</button>
          <button type="button" class="btn btn-info" (click)="restore(item)">취소</button>
        </td>
      </tr>
    </ng-template>

    </tbody>
  </table>
</div>
