<md-card>
  <md-card-header>
    <md-card-title>글쓰기</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-form-field class="md-block">
      <input mdInput placeholder="제목" [(ngModel)]="news.title">
    </md-form-field>
    <div>
      <ckeditor [(ngModel)]="news.content" debounce="10">
      </ckeditor>
    </div>
    <div>
      <label for="uploadedImage">업로드 이미지 선택</label>
      <input type="file" (change)="fileChange($event)" id="uploadedImage" accept="images/*" #newFile>
      <img *ngIf="thumbnailSrc" [src]="thumbnailSrc" style="width:100px; height: auto;">
    </div>
    <div style="margin-top: 1em;" fxLayoutAlign="center center">
      <button md-raised-button md-button-sm color="primary" (click)="addNews()">저 장</button>
    </div>
  </md-card-content>
</md-card>
