<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive><a href="#">Home</a></li>
      <li routerLinkActive routerLink="bootstrap"><a>bootstrap</a></li>
      <li routerLinkActive routerLink="jquery"><a>jquery</a></li>
      <li routerLinkActive><a routerLink="angular">angular</a></li>
      <li routerLinkActive><a routerLink="http">http</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
