<mat-toolbar color="primary">
  <span routerLink="/" class="brand">Angular4</span>
  <ul class="top-menu" fxHide.xs="true">
    <li><a routerLinkActive="active" routerLink="/jquery">jquery</a></li>
    <li><a routerLinkActive="active" routerLink="/angular">angular</a></li>
    <li><a routerLinkActive="active" routerLink="/http">http</a></li>
    <li><a routerLinkActive="active" routerLink="/news">news</a></li>
  </ul>
  <span fxFlex="1 0 auto"></span>
  <div>
    <button mat-button *ngIf="!isAuthenticated()" routerLink="/login">
      로그인
    </button>
    <button mat-button *ngIf="isAuthenticated()" (click)="logout()">
      로그아웃
    </button>
    <button mat-icon-button [mdMenuTriggerFor]="menu" fxHide.gt-xs="true">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="mdMenu">
      <button mat-menu-item routerLink="/jquery">
        <mat-icon>dialpad</mat-icon>
        <span>jquery</span>
      </button>
      <button mat-menu-item routerLink="/angular">
        <mat-icon>gamepad</mat-icon>
        <span>angular</span>
      </button>
      <button mat-menu-item routerLink="/http">
        <mat-icon>http</mat-icon>
        <span>http</span>
      </button>
      <button mat-menu-item routerLink="/news">
        <mat-icon>fiber_new</mat-icon>
        <span>news</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>
